<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- PAGE settings -->
    <link
      rel="icon"
      href="https://templates.pingendo.com/assets/Pingendo_favicon.ico"
    />
    <title>Pricing</title>
    <meta
      name="description"
      content="Wireframe design of a pricing table by Pingendo"
    />
    <meta
      name="keywords"
      content="Pingendo bootstrap example template wireframe pricing table"
    />
    <meta name="author" content="Pingendo" />
    <!-- CSS dependencies -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="css/wireframe.css" />
  </head>

  <body class="bg-light">
    <div
      class="d-flex flex-column flex-md-row align-items-center p-3 mb-3 box-shadow border-bottom"
      th:fragment="header"
    >
      <a class="my-0 mr-md-auto font-weight-normal" href="/">Home</a>
      <nav class="my-2 my-md-0 mr-md-3">
        <div class="btn-group">
          <div class="dropdown show">
            <a
              class="btn btn-outline-secondary dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Point
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/user/charge/new">환전</a>
              <a class="dropdown-item" href="/user/charge/list">거래 내역</a>
              <a class="dropdown-item" href="/user/exchange">포인트 충전</a>
            </div>
          </div>
          <div class="dropdown show" style="margin-left: 15px">
            <a
              class="btn btn-outline-secondary dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Voca
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/user/voca/new">New Voca</a>
              <a class="dropdown-item" href="/user/voca/vocalist">My Voca</a>
            </div>
          </div>
          <div class="dropdown show" style="margin-left: 15px">
            <a
              class="btn btn-outline-secondary dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Voca 거래공간
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/user/vocaboard/memberlist"
                >Voca 거래내역</a
              >
              <a class="dropdown-item" href="/vocaboard/list">Voca 거래소</a>
            </div>
          </div>
        </div>
      </nav>
      <a
        id="userBtn"
        disable="loginBool"
        href="/user/member"
        class="btn btn-lg btn-primary mx-1"
      ></a>
      <a id="logoutBtn" href="/logout" class="btn btn-lg btn-primary mx-1"
        >Logout</a
      >
      <a id="signupBtn" class="btn btn-outline-info" href="/signup">Sign up</a>
      <a id="loginBtn" class="btn btn-outline-info" href="/login">Login</a>
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <pingendo
        onclick="window.open('https://pingendo.com/', '_blank')"
        style="
          cursor: pointer;
          position: fixed;
          bottom: 20px;
          right: 20px;
          padding: 4px;
          background-color: #00b0eb;
          border-radius: 8px;
          width: 220px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          color: white;
        "
        >Made with Pingendo Free&nbsp;&nbsp;<img
          src="https://pingendo.com/site-assets/Pingendo_logo_big.png"
          class="d-block"
          alt="Pingendo logo"
          height="16"
      /></pingendo>
      <script th:inline="javascript">
        const loginBool = document.cookie.includes("isLogin");

        if (loginBool) {
          document.getElementById("signupBtn").setAttribute("hidden", true);
          document.getElementById("loginBtn").setAttribute("hidden", true);
        } else {
          document.getElementById("userBtn").setAttribute("hidden", true);
          document.getElementById("logoutBtn").setAttribute("hidden", true);
        }

        if (loginBool) {
          const userName = document.cookie
            .split(";")
            .find((e) => e.includes("isLogin"))
            .replace("isLogin=", "")
            .split(" ")[0];

          document.getElementById("userBtn").textContent =
            userName.toUpperCase() + " 님";
        }
      </script>
    </div>
  </body>
</html>
